.box{
    background-color: white;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #888;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5em;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem;
}

.x{
    color: rgb(255,70,37);
}

.o{
    color: rgb(88, 255, 104);
}

.box:hover { /*View select piece*/
    box-shadow: 0px 0px 25px #888;
}